In [ ]:
pip install "pyiceberg[s3fs,glue]"

In [ ]:
# Equal To Operator:
from pyiceberg.catalog import load_catalog
from pyiceberg.expressions import EqualTo
catalog = load_catalog("glue", **{"type": "glue"})
tbl = catalog.load_table('test.employee')
sc = tbl.scan(row_filter=EqualTo("role", "Developer Advocate")).to_arrow()
sc = sc.to_pandas()
sc

In [31]:
# Greater Than Operator:
sc_new = tbl_new.scan(row_filter=GreaterThan("id", "2")).to_arrow()
sc_new = sc_new.to_pandas()
sc_new

/home/docker/.local/lib/python3.10/site-packages/pyiceberg/table/__init__.py:339: UserWarning: Projection is currently done by name instead of Field ID, this can lead to incorrect results in some cases.
  warnings.warn(

   id      name               role   salary
0   6      Troy                CMO  30000.0
1   7     Raine                 UX  21000.0
2   8     Harry                 QA  22000.0
3   6      Troy                CMO  30000.0
4   7     Raine                 UX  21000.0
5   8     Harry                 QA  22000.0
6   4  Ashleigh         Consultant  19000.0
7   3       Roy  Software Engineer  20000.0